<div class="mypage">
<%= render 'user/users/sidebar', user: @user %>
<main>
   <div class="row chat-index">
      <div class="col-md-4" style="border-right:2px solid white;">
        <div class="chat" style="width:100%;">
           <h4>チャット履歴一覧</h4>
          <%= render 'user/chats/index', rooms: @rooms, chat: @chat %>
        </div>
      </div>
       <div class="col-md-8">
            <div class="message">
              <h3 id="room" data-room="<%= @room.id %>" data-user="<%= current_user %>"><%= @user.name %>さんとのチャット</h3>
              <div>
              <%= form_with model: @chat do |chat| %>
                <%= chat.text_field :message %>
                <%= chat.hidden_field :room_id %>
                <%= chat.submit "送信" %>
              <% end %>
              </div>
               <table id="message" class="mt-5" style="width:100%; margin:0 auto;">
              <thead>
                <tr>
                  <th style="text-align: left; font-size: 20px;"><%= attachment_image_tag current_user, :image, size: '50x50', fallback: "no_image.jpg" %><br /><%= current_user.name %></th>
                  <th style="text-align: right; font-size: 20px; "><%= attachment_image_tag @user, :image, size: '50x50', fallback: "no_image.jpg" %><br /><%= @user.name %></th>
                </tr>
              </thead>
              <% @chats.each do |chat| %>
                <% if chat.user_id == current_user.id %>
                <tbody>
                  <tr>
                    <th>
                  <p style="text-align: left; font-size: 12px; color:white;"><%= chat.message %></p>
                   </th>
                    <th></th>
                  </tr>
                </tbody>
                <% else %>
                 <tbody>
                  <tr>
                    <th></th>
                    <th>
                  <p style="font-size: 12px; text-align: right; color:white;"><%= chat.message %></p>
                     </th>
                  </tr>
                </tbody>
                <% end %>
              <% end %>
              </table>
            </div>
        </div>
        </div>
  </main>
</div>