<div class="mypage page-top">
  <%= render 'user/users/sidebar', user: @user %>
<main class="bookmarks">
   <nav class="mb-2" style="height:30px;">
     <%= link_to 'Home', user_path(current_user.id) %><span class="mr-3 ml-3">/</span><%= link_to 'Favorites', user_favorites_path %>
   </nav>
    <h3>お気に入りツイート</h3>
  <div class="row">
      <% if @favorites.present? %>
      <% @favorites.each do |favorite| %>
      <div class="col-md-4 favorite-review">
        <% if favorite.tweet.image.present? %>
         <div><%= attachment_image_tag(favorite.tweet, :image, size: '150x120') %></div>
        <% end %>
        <div class="favorites">Nickname</div>
          <div><%= favorite.tweet.user.name %>
             <%= link_to user_path(favorite.tweet.user) do %>
               <i class="fas fa-external-link-alt" style="color:#6600FF;"></i>
             <% end %>
          </div>
          <div class="favorites">Bar</div>
         <div><%= favorite.tweet.shop %></div>
        <div class="favorites">Title</div><div><%= favorite.tweet.shop %></div>
        <div class="favorites">Content</div><div><%= favorite.tweet.content %></div>
        <% tweet = favorite.tweet %>
         <div id="favorites_buttons_<%= tweet.id %>" style="margin-top: 10px;">
          <%= render partial: 'user/favorites/favorite', locals: {tweet: tweet} %>
        </div>
      </div>
      <% end %>
      <% else %>
        <p style="margin: 0 auto; margin-top:70px;">まだお気に入りレビューはありません<br >レビューを見てお気に入り登録をしてみよう！！</p>
      <% end %>
  </div>
   <div class="row">
            <div class="col">
              <div>
               <%= paginate @favorites, style: "color:white;" %>
              </div>
            </div>
          </div>
</main>
</div>