<div class="container mb-5">
  <nav class="mb-2" style="height:30px;">
    <%= link_to '店舗一覧ページ', owner_shops_path %><span class="mr-3 ml-3">/</span><%= link_to 'レビューページ', owner_shop_path %>
  </nav>
    <div class="row owner-image">
      <div class="col-md-6" style="margin:0 auto;">
        <% if @reviews.present? %>
        <% @reviews.each do |review| %>
          <div class="review-view">
            <div style="width:75%;">
              <h5 style="font-weight:bold;">”<%= review.title %>”</h5>
              <% if review.image.present? %>
               <div> <%= attachment_image_tag(review, :image, size: '100x100') %></div>
              <% end %>
                <div id="star-rate-<%= review.id %>" style="display:inline-block;"></div><span class="star-count ml-1"><%= review.star %></span><span style="margin-left:20px;"><%= review.created_at.strftime('%Y/%m/%d') %>に投稿</span>
                <div><%= review.post %></div>
                <%= render 'user/reviews/star', review: review %>
            </div>
          </div>
        <% end %>
        <% else %>
          <p style="text-align: center; line-height: 500px; font-size:30px;">レビューはまだありません。</p>
        <% end %>
      </div>
    </div>
</div>