<div class="container">
    <div class="row">
      <div class="col-md-4 offset-4">
  <h2>ログイン</h2>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="field">
      <%= f.label :email %>
      <p class="control has-icons-left">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'width:80%;' %>
       <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
       </p>
    </div>

    <div class="field">
      <%= f.label :password %>
      <p class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "current-password", style: 'width:80%;' %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      </p>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="field mb-3">
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <%= image_tag asset_path('google-btn.png') %>
    <% end %>
    </div>
    <div class="field">
    <%= link_to user_facebook_omniauth_authorize_path, class: 'btn facebook' do %>
      <%= image_tag asset_path('facebook.png'), size: '25x25' %><span style="margin-left:8px; font-size:14px;">Sign in with Facebook</span>
    <% end %>
     <%= link_to user_twitter_omniauth_authorize_path, class: 'btn twitter mt-3' do %>
        <%= image_tag asset_path('twitter.png'), size: '25x25' %><span style="margin-left:8px; font-size:14px;">Sign in with Twitter</span>
      <% end %>
    </div>
    <div class="actions mt-3">
      <%= f.submit "ログイン", class: "btn btn-outline-info mb-3" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
    </div>
    </div>
  </div>

