 <p class="mt-5 user-top effect-fade">ジャンルで探す</p>
  <div class="row mt-5">
    <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 1) do %>
        <%= label_tag 'ショットバー' %>
        <%= image_tag 'shotbar',class: "genre-image", style: "width: 100%;" %>
        <% end %>
    </div>
       <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 2) do %>
        <%= label_tag 'ダイニングバー' %>
        <%= image_tag 'diningbar',class: "genre-image", style: "width: 100%; height:85%;" %>
        <% end %>
        </div>
         <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 7) do %>
        <%= label_tag 'スポーツバー' %>
        <%= image_tag 'sportsbar',class: "genre-image", style: "width: 100%;" %>
        <% end %>
    </div>
     <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 8) do %>
        <%= label_tag 'ダーツバー' %>
        <%= image_tag 'dartsbar',class: "genre-image", style: "width: 100%; height:85%;" %>
        <% end %>
    </div>

  </div>
   <div class="row mt-5" style="font-size:15px;">
    <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 5) do %>
        <%= label_tag 'オーセンティックバー' %>
        <%= image_tag 'category1', class: "genre-image", style: "width: 100%;" %>
        <% end %>
    </div>
     <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 6) do %>
        <%= label_tag 'ミュージックバー' %>
        <%= image_tag 'category1', class: "genre-image", style: "width: 100%;" %>
        <% end %>
    </div>
     <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 3) do %>
        <%= label_tag 'ホテルバー' %>
        <%= image_tag 'category1', class: "genre-image", style: "width: 100%;" %>
        <% end %>
        </div>
        <div class="col-lg-3 search-genre effect-fade">
        <%= link_to shops_path(category_id: 4) do %>
        <%= label_tag 'レストランバー' %>
        <%= image_tag 'category1',class: "genre-image", style: "width: 100%;" %>
        <% end %>
        </div>
  </div>