<div class="mypage">
  <%= render 'user/users/sidebar', user: @user %>
<main>
    <% @shops.each do |shop| %>
    <div class="shop-border">
    <h4><%= shop.name %></h4>
    <div class="shopbtn">
    <%= link_to '詳細を見る', shop_path(shop), class: 'btn btn-warning' %>
    </div>
    <div>【<%= shop.category.category %>】</div>
    <div>
    <% unless shop.shop_pictures == [] %>
        <% shop.shop_pictures.each do |shop_picture| %>
        <%= attachment_image_tag shop_picture, :image, size: '100x100' %>
        <% end %><br />
        <% end %>
    </div>
    <h5><%= shop.explain %></h5>
    <div class="shop-index"><span>アクセス</span><%= shop.station %></div>
    <div class="shop-index"><span>電話番号</span><%= shop.phone %></div>
    <div class="shop-index"><span>営業時間</span><%= shop.open_time %>~<%= shop.close_time %></div>
    <div><span style=" padding-right: 46px;">定休日</span><%= shop.holiday %></div>
     </div>
    <% end %>

</main>
</div>