<aside>
    <nav>
        <ul>
            <li class="mb-5">Menu</li>
            <%= link_to user_path(current_user) do %>
            <li class="menu mb-5">
              <span><i class="fas fa-home"></i>Home</span>
            </li>
            <% end %>
            <%= link_to  chats_path do %>
            <li class="menu mb-5">
              <span><i class="fas fa-sms"></i>Chats</span>
            </li>
            <% end %>
            <%= link_to user_bookmarks_path(current_user) do %>
            <li class="menu mb-5">
              <span><i class="fas fa-bookmark"></i>Bookmarks</span>
            </li>
            <% end %>
            <%= link_to user_favorites_path(current_user) do %>
            <li class="menu mb-5">
             <span><i class="fas fa-file-pdf"></i>Reviews</span>
            </li>
            <% end %>
            <%= link_to user_favorites_path(current_user) do %>
            <li class="menu mb-5">
              <span><i class="fas fa-heart"></i>Favorites</span>
            </li>
            <% end %>
            <%= link_to shops_search_path do %>
            <li class="menu mb-5">
              <span><i class="fas fa-search-dollar"></i>Bar search</span>
            </li>
            <% end %>
        </ul>
    </nav>
    <div class="sidefotter">
         <%= link_to 'Exit', user_path(current_user), method: :delete, "data-confirm" => '本当に退会しますか？', style: "font-size:30px; font-family: 'Monotype Corsiva';" %>
    </div>
</aside>