<aside id="desktop-menu" style="margin-left:50px;">
    <nav style="color:#A2CA36;">
        <ul class="mysidebar" style="list-style:none;">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user) do %>
            <li class="menu mb-5">
              <span><i class="fas fa-home"></i>Home</span>
            </li>
            <% end %>
            <%= link_to  chats_path do %>
            <li class="menu mb-5">
              <span><i class="fas fa-sms"></i>Chats</span>
            </li>
            <% end %>
            <%= link_to user_bookmarks_path(current_user) do %>
            <li class="menu mb-5">
              <span><i class="fas fa-bookmark"></i>Bookmarks</span>
            </li>
            <% end %>
            <%= link_to user_reviews_path(current_user.id) do %>
            <li class="menu mb-5">
             <span><i class="fas fa-file-pdf"></i>My reviews</span>
            </li>
            <% end %>
            <%= link_to user_favorites_path(current_user) do %>
            <li class="menu mb-5">
              <span><i class="fas fa-heart"></i>Favorites</span>
            </li>
            <% end %>
            <%= link_to shops_search_path do %>
            <li class="menu mb-5">
              <span><i class="fas fa-search-dollar"></i>Bar search</span>
            </li>
            <% end %>
          <% end %>
        </ul>
    </nav>
    <div class="sidefotter">
       <% unless current_user.email == ENV['TEST_USER'] %>
        <%= link_to user_path(current_user), method: :delete, "data-confirm" => '本当に退会しますか？', style: "font-size:30px; font-family: 'Monotype Corsiva'; color:#A2CA36;" do %>
          <span><i style="color:#A2CA36;"class="fas fa-times-circle"></i>Quit</span>
        <% end %>
       <% end %>
    </div>
</aside>

<aside id="sp-menu" style="margin-left:50px;">
    <nav>
       <% if user_signed_in? %>
        <ul class="mysidebar" style="list-style:none;">
            <li class="menu mb-3">
              <%= link_to destroy_user_session_path, method: :delete, style: "color:#A2CA36;" do %>
              <span><i class="fas fa-sign-out-alt"></i>Log out</span>
              <% end %>
            </li>
            <%= link_to user_path(current_user) do %>
            <li class="menu mb-3">
              <span><i class="fas fa-home"></i>Home</span>
            </li>
            <% end %>
            <%= link_to  chats_path do %>
            <li class="menu mb-3">
              <span><i class="fas fa-sms"></i>Chats</span>
            </li>
            <% end %>
            <%= link_to user_bookmarks_path(current_user) do %>
            <li class="menu mb-3">
              <span><i class="fas fa-bookmark"></i>Bookmarks</span>
            </li>
            <% end %>
            <%= link_to user_reviews_path(current_user.id) do %>
            <li class="menu mb-3">
             <span><i class="fas fa-file-pdf"></i>My reviews</span>
            </li>
            <% end %>
            <%= link_to user_favorites_path(current_user) do %>
            <li class="menu mb-3">
              <span><i class="fas fa-heart"></i>Favorites</span>
            </li>
            <% end %>
            <%= link_to shops_search_path do %>
            <li class="menu mb-3">
              <span><i class="fas fa-search-dollar"></i>Bar search</span>
            </li>
            <% end %>

            <li><% unless current_user.email == ENV['TEST_USER'] %>
                  <%= link_to user_path(current_user), method: :delete, "data-confirm" => '本当に退会しますか？', style: "font-size:30px; font-family: 'Monotype Corsiva'; color:#A2CA36;" do %>
                    <span><i style="color:#A2CA36;"class="fas fa-times-circle"></i>Quit</span>
                  <% end %>
                <% end %>
            </li>
        </ul>
        <% end %>
    </nav>
</aside>

<div id="hm-icon">
  <a class="menu-trigger" href="">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>


