<div class=mypage>
  <%= render 'user/users/sidebar', user: @user %>
<main>
  <nav class="mb-2" style="height:30px;">
   <%= link_to 'Home', user_path(current_user.id) %><span class="mr-3 ml-3">/</span><%= link_to 'フォロワー一覧', followers_user_path %>
  </nav>
<table class="table follow" style="color:white;">
  <tbody style="border-bottom: 1px solid white;">
<% if @users.present? %>
  <% @users.each do |user| %>
       <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= attachment_image_tag user, :image, size: '60x60', fallback: "no_image.jpg" %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
       <% unless current_user == user %>
        <% user.tweets.first(1).each do |tweet| %>
        <td>
         <span id="relationships_buttons_<%= tweet.user.id %>">
          <%= render partial: 'user/relationships/relationship', locals: {tweet: tweet} %>
         </span>
        </td>
        <% end %>
         <td>
         <%= link_to chat_path(user), style: "color: black;", "data-turbolinks": false do %>
          <span style="color:#17A2B8; font-weight: bold;"><i class="fas fa-sms"></i><%= user.name %>さんにチャットする</span>
         <% end %>
        </td>
        <% end %>
       </tr>
  <% end %>
<% else %>
<div>まだフォロワーはいません。</div>
<% end %>
 </tbody>
 </table>
</main>
</div>