<div class=mypage>
  <%= render 'user/users/sidebar', user: @user %>
<main>
   <div class="field mb-5 mt-5" style="color:#A2CA36; font-size:50px;font-family: 'Monotype Corsiva';">Mypage</div>
   <div class="myprofile">MyProfile<i class="fas fa-id-badge ml-3"></i></div>
    <div class="mine">
     <div class="profile">
        <div class="field mb-3" style="text-align: center;">
            <%= label_tag :'イメージ' %><br />
            <div><%= attachment_image_tag(@user, :image, size: '100x100', fallback: "no_image.jpg") %></div>
        </div>
         <div class="field mb-3" style="font-size:14px;">
            <%= link_to follows_user_path do %>
            <span>フォロー</span><%= @user.followings.count %>
            <% end %>
            <%= link_to followers_user_path do %>
            <span>フォロワー</span><%= @user.followers.count %>
            <% end %>
            </div>
        <div class="field mb-3" style= "border-bottom: solid;">
            <%= label_tag :'ニックネーム' %><br />
            <%= @user.name %>
        </div>
        <div class="field mb-3" style="border-bottom: solid;">
            <%= label_tag :'自己紹介' %><br />
            <div style="font-size: 13px;"><%= @user.introduction %></div>
        </div>
        <% unless @user == current_user %>
        <div>
           <%= link_to chat_path(@user), style: "color: black;", "data-turbolinks": false do %>
              <span style=" font-size: 15px;"><i class="fas fa-sms"></i>チャットする</span>
           <% end %>
        </div>
        <% end %>
        <% if @user == current_user %>
        <div class="field">
            <%= link_to '編集', edit_user_path(current_user.id), class: "btn btn-edit mb-3", style: "color: white;" %>
        </div>
        <% end %>
         </div>

        <table class="table ml-3 myreview-list">
            <tr>
                <td>投稿したレビュー</td><td class="profile-left"><i class="fas fa-flag"></i><%= current_user.reviews.count %>件</td>
            </tr>
            <tr>
                <td>レビューのお気に入り獲得数</td><td class="profile-left"><i class="fas fa-flag"></i>
                    <% favorites_count = 0 %>
                    <% @reviews.each do |review| %>
                      <% favorites_count += review.favorites.count %>
                    <% end %>
                    <%= favorites_count %>件
                </td>
            </tr>
            <tr>
                <td>ブックマークした店舗</td><td class="profile-left"><i class="fas fa-flag"></i><%= current_user.bookmarks.count %>件</td>
            </tr>
            <tr>
                <td>チャットした人数</td><td class="profile-left"><i class="fas fa-flag"></i><%= current_user.rooms.count %>件</td>
            </tr>
        </table>
    </div>
    <div class="user-form mt-5">
      <% if @user_contact.errors.any? %>
      <div class="notification">
        <h2><%= @user_contact.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @user_contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <h2 style="color:#A2CA36; font-family: Monotype Corsiva;">Information about site</h2>

    <div class="siteform">
    <%= form_with model: @user_contact, url: user_user_contacts_path(user_id: current_user), local: true do |f| %>
    <div class="field">
        <div><%= f.label :'タイトル' %></div>
        <div><%= f.text_field :title, placeholder: 'タイトルを入力してください',style: 'width:40%;' %></div>
    </div>
    <div class="field">
        <div><%= f.label :'問い合わせ内容' %></div>
        <div><%= f.text_area :message, placeholder: '内容を入力してください',style: 'width:70%;' %></div>
    </div>
    <% if @user == current_user %>
    <div class="field" style="text-align: right; margin-top: 20px; margin-right:160px;">
        <%= f.submit '送信する', "data-confirm" => 'この内容で送信しますか？', style: 'margin-top:10px;', class: 'btn btn-outline-success', style: 'color:black;' %>
    </div>
    <% end %>
    <% end %>
    </div>
    </div>
</main>
</div>
