<div class=mypage>
  <%= render 'user/users/sidebar', user: @user %>
<main>
   <div class="field mb-5 mt-5" style="color:#A2CA36; font-size:50px;font-family: 'Monotype Corsiva';">Mypage</div>
   <div class="myprofile">MyProfile<i class="fas fa-id-badge ml-3"></i></div>
    <div class="mine">
     <div class="profile">
        <div class="field mb-3" style="text-align: center;">
            <%= label_tag :'イメージ' %><br />
            <div><%= attachment_image_tag(@user, :image, size: '100x100', fallback: "no_image.jpg") %></div>
        </div>
         <div class="field mb-3" style="font-size:14px;">
            <%= link_to follows_user_path(@user) do %>
            <span>フォロー</span><%= @user.followings.count %>
            <% end %>
            <%= link_to followers_user_path(@user) do %>
            <span>フォロワー</span><%= @user.followers.count %>
            <% end %>
            </div>
        <div class="field mb-3" style= "border-bottom: solid;">
            <%= label_tag :'ニックネーム' %><br />
            <%= @user.name %>
        </div>
        <div class="field mb-3" style="border-bottom: solid;">
            <%= label_tag :'自己紹介' %><br />
            <div style="font-size: 13px;"><%= @user.introduction %></div>
        </div>
        <% unless @user == current_user %>
        <div>
           <%= link_to chat_path(@user), style: "color: black;", "data-turbolinks": false do %>
              <span style=" font-size: 15px;"><i class="fas fa-sms"></i>チャットする</span>
           <% end %>
        </div>
        <div>
          <span id="relationships_buttons_<%= @user.id %>">
            <%= render partial: 'user/relationships/user', locals: {user: @user} %>
          </span>
        </div>
        <% end %>
        <% if @user == current_user %>
        <div class="field">
            <%= link_to '編集', edit_user_path(current_user.id), class: "btn btn-edit mb-3", style: "color: white;" %>
        </div>
        <% end %>
         </div>
        <%= render 'user/users/formtable' %>

    </div>
    <div class="myprofile mt-5">Schedule</div>
    <div class="calendar-all">
    <div class="calendar">
      <%= month_calendar events: @plans do |date, plans| %>
        <%= date.day %>
        <% plans.each do |plan| %>
          <% if plan.user == current_user %>
            <div class="btn btn-sm btn-outline-info btnModalShow" data-id="<%= plan.id %>"><%= plan.start_time.strftime('%H:%M') %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    </div>
  <% @plans.each do |plan| %>
     <div class="modal1" id="<%= plan.id %>" style="display: none">
           <div style="text-align: center;">
            <div class="form-group">
              <div class="calendar-show">時間</div>
              <% if plan.start_time.present? %>
                <%= plan.start_time.strftime('%m月%d日 %H時%M分') %><br />
              <% end %>
            </div>
            <div class="form-group">
              <div class="calendar-show">店舗名</div>
              <%= plan.shop_name %><br />
            </div>
            <div class="form-group">
              <div class="calendar-show">メモ</div>
              <%= plan.memo %>
            </div>
           </div>
           <div class="calendar-delete">
              <button class="btn btn-sm btn-outline-info btnModalClose">close</button>
              <div style="margin-left: auto;">
              <%= link_to plan_path(plan), method: :delete, "data-confirm" => '本当に削除しますか？' do %>
                  <span style="color:red;"><i class="far fa-trash-alt" ></i>削除</span>
              <% end %>
              </div>
          </div>
     </div>
   <% end %>
   <div class="overlay"></div>
   <%= render 'user/users/calendar' %>
   <%= render 'user/users/calendarform', plan: @plan %>
   <%= render 'user/users/adminform' %>
</main>
</div>
