<div class="top-main">
  <div id="main-visual">
    <p class="title">
      Bar<br />Research
    </p>
        <div class="search">
          <%= render 'user/shops/search', shop: @shop %>
          <%= link_to 'オーナーの方はこちらへ', owner_homes_top_path, class: 'btn btn-warning mt-5', style: "color: white;"%>
        </div>
  </div>
</div>
</div>
<div class="container">
    <p class="mt-5" style="font-size: 30px; text-align: center;">ジャンルで探す</p>
  <div class="row mt-5">
    <div class="col-lg-3">
        <%= link_to shops_path(category_id: 1) do %>
        <%= label_tag 'ショットバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
    </div>
       <div class="col-lg-3">
        <%= link_to shops_path(category_id: 2) do %>
        <%= label_tag 'ダイニングバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
        </div>
        <div class="col-lg-3">
        <%= link_to shops_path(category_id: 3) do %>
        <%= label_tag 'ホテルバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
        </div>
        <div class="col-lg-3">
        <%= link_to shops_path(category_id: 4) do %>
        <%= label_tag 'レストランバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
        </div>
  </div>
   <div class="row mt-5">
    <div class="col-lg-3">
        <%= link_to shops_path(category_id: 5) do %>
        <%= label_tag 'オーセンティックバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
    </div>
     <div class="col-lg-3">
        <%= link_to shops_path(category_id: 6) do %>
        <%= label_tag 'ミュージックバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
    </div>
     <div class="col-lg-3">
        <%= link_to shops_path(category_id: 7) do %>
        <%= label_tag 'スポーツバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
    </div>
     <div class="col-lg-3">
        <%= link_to shops_path(category_id: 8) do %>
        <%= label_tag 'ダーツバー' %>
        <%= image_tag 'category1', style: "width: 100%;" %>
        <% end %>
    </div>
  </div>
  <p class="mt-5" style="font-size: 30px; text-align: center;">口コミから探す</p>
  <div class="row mt-5">
    <div class="col-lg-3">

    </div>
  </div>
</div>