 <% @comments.each do |comment| %>
  <div class="tweet-comment">
  <%= link_to user_path(comment.user) do %>
    <%= attachment_image_tag(comment.user, :image, size: '30x30', fallback: "no_image.jpg") %>
    <%= comment.user.name %>
  <% end %>
  <%= comment.comment %>
  <% if comment.user.id == current_user.id %>
    <%= link_to tweet_comment_path(comment.tweet.id, comment.id), method: :delete, "data-confirm" => 'コメントを削除しますか？', remote: true do %>
      <span style="color: red;"><i class='far fa-trash-alt'></i></span>
    <% end %>
  <% end %>
  <div style="text-align: right;">
    <span class="sentiment-score">
      <% if comment.score > 0.3 %>
        Emotion_score：<span style="color:#FF3333;"><i class="far fa-grin-beam"></i></span>&ensp;<%= comment.score %>
      <% elsif (-0.3..0.3).cover?(comment.score) %>
        Emotion_score：<span style="color:#FF9900;"><i class="far fa-grin"></i></span>&ensp;<%= comment.score %>
      <% elsif comment.score < -0.3 %>
        Emotion_score: <span style="color:#C71585;"><i class="far fa-tired"></i></span>&ensp;<%= comment.score %>
      <% end %>
    </span><%= comment.created_at.strftime('%Y年%m月%d日') %>投稿</div>
  </div>
  <% end %>