<%= form_with(model: [shop, review], url: shop_reviews_path(shop, review), local: true) do |f| %>
   <div class="form-group">
      <%= f.label :'タイトル' %><br />
      <%= f.text_field :title, placeholder: '口コミを投稿しましょう' %><br />
  </div>
  <div class="form-group">
      <%= f.label :'投稿写真' %><br />
      <%= f.attachment_field :image, size: '100x100' %><br />
  </div>
  <div class="form-group" id="star">
    <%= f.label :'評価' %><br />
    <%= f.hidden_field :star, id: :review_star %>
  </div>

  <div class="form-group">
    <%= f.label :'口コミ内容' %><br />
    <%= f.text_field :post, placeholder: '口コミを投稿しましょう', style: "height:80px; width: 300px; font-size:15px; border-radius: 10px;" %>
  </div>
  <%= f.submit '投稿する', class: 'btn btn-success', style: 'color:white;' %>
<% end %>

<%= render 'user/reviews/newstar' %>