<div class="mypage page-top">
  <%= render 'user/users/sidebar'%>
    <main>
      <nav class="mb-2" style="height:30px;">
        <%= link_to 'Home', user_path(current_user.id) %><span class="mr-3 ml-3">/</span><%= link_to 'tweets', tweets_path %><span class="mr-3 ml-3">/</span><%= link_to 'comment', tweet_path(@tweet) %>
      </nav>
       <div class="row">
          <div class="favorite-review" style="width: 70%;">
           <div style="display: flex; justify-content: center; align-items: center;">
             <div><%= attachment_image_tag(@tweet.user, :image, size: '70x70', fallback: "no_image.jpg") %>
               <p><%= link_to user_path do %><%= @tweet.user.name %><% end %></p></div>
             <div>
              <% unless @tweet.user_id == current_user.id %>
                 &ensp;<span id="relationships_buttons_<%= @tweet.user.id %>">
                  <%= render partial: 'user/relationships/relationship', locals: {tweet: @tweet} %>
                 </span>
              <% end %>
             &ensp;<%= @tweet.created_at.strftime('%m月%d日') %>
             </div>
           </div>
           <div style="display: flex; justify-content: center;">
            <% if @tweet.image.present? %>
              <div><%= attachment_image_tag(@tweet, :image, size: '300x200') %></div>
            <% end %>
             <div>店舗名：<%= @tweet.shop %><br /><%= @tweet.content %></div>
           </div>
            <div style="display: flex; justify-content: center;">
              <div id="favorites_buttons_<%= @tweet.id %>">
                <%= render partial: 'user/favorites/favorite', locals: {tweet: @tweet} %>
              </div>
              <div>
                &emsp;<a href="#commentform"><i class="fas fa-comment-dots"></i><%= @tweet.comments.count %></a>
              </div>
            </div>
          </div>
          <% if @comments.present? %>
           <div id="new-comment">
             <%= render partial: 'user/comments/comment', locals: {comments: @comments} %>
           </div>
          <% end %>
      </div>
      <div class="row" style="margin-top:100px;">
        <div id="commentform" class="siteform" style="width: 70%;">
         <% if @comment.errors.any? %>
              <div class="notification">
                <h2><%= @comment.errors.count %>件のエラーがあります。</h2>
                <ul>
                  <% @comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
        <%= form_with(model:[@tweet, @comment], url: tweet_comments_path(tweet_id: @tweet), remote: true) do |f| %>
          <div class="field">
            <div><%= f.label :'コメント' %></div>
            <%= f.text_area :comment, placeholder: 'コメントを入力', style: 'width: 90%' %><br />
            </div>
        <%= f.submit "コメントする", class: 'btn btn-outline-success mt-2' %>
        <% end %>
        </div>
        </div>
    </main>
</div>