<!DOCTYPE html>
<html>
  <head>
    <title>BarResearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1ede0c26ab.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand p-5">
      <ul class="navbar-nav" >
    <% if owner_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_owner_session_path, method: :delete %>

        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_owner_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_owner_session_path %>
        </li>
        <li>
          <%= link_to "サイト紹介", owner_homes_about_path %>
        </li>
      <% end %>
      </ul>
      </nav>
    </header>
     <div>
       <%= flash[:notice] %>
     </div>
      <%= yield %>
  </body>
</html>